<div class="container">
    <div class="containerHeader">
        <nav class="navHeader">
            <ul>
                <li class="mainLink"><a href="/">Rule of Thumb.</a></li>
                <li class="secondaryLink"><a href="#">Past Trials</a></li>
                <li class="secondaryLink"><a href="#">How it works</a></li>
                <li class="secondaryLink"><a href="#">Log In / Sing Up</a></li>
                <li class="searchIcon"><img src="assets/images/lupa.png" /></li>
                <!-- <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </li> -->
            </ul>
        </nav>
    </div>
    <div class="containerHeaderCard">
        <app-header-card></app-header-card>
    </div>

    <div class="progress-bar">
        <span class="progress-bar-fill">
            CLOSING IN
        </span>
        <span class="progress-bar-text1">
            22
        </span>
        <span class="progress-bar-text2">
            days
        </span>
    </div>
</div>