<div class="HeaderCard">
    <div class="containerHeaderCard">
        <div class="subtitle1">What’s your opinion on</div>
        <div class="title">Pope Francis?</div>
        <p class="subtitle2">He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up) </p>
        <p>
            <a href="" class="link">More information</a>
        </p>
        <div class="subtitle3">What’s Your Verdict?</div>
    </div>
    <div class="buttons">
        <div class="positiveButton">
            <span class="iconPositive"></span>
        </div>
        <div class="negativeButton">
            <span class="iconNegative"></span>
        </div>
    </div>
</div>
